@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <img style=" width: 680px;border-radius:1%; height: 580px;margin-left:5%;margin-top:-10%;" src="/css/food-delivery-motorcycle-with-five-stars-logo-vector-29290957.jpg" multiple />

</div>
