@using Food_Delivery.Models
@model OrderShipmentDto
<section class="h-100 ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-5">
                           
                                <div align="center" class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 ">Registration form</h3>
                                    <div>
                                        <div align="center" class="col-md-12">

                                       


                                            <div class=" row m-5">
                                                <div class="col-md-5">DeliveryPerson Name</div>
                                                <div class="col-md-5">
                                                @Html.DropDownListFor(model=>model.DeliveryPersonId,Model.DeliveryList, new {@class="form-control",id="DeliveryPersonId"})
                                                </div>
                                              
                                            </div>


                                            <div class=" row m-5">
                                                <div class="col-md-5">OrderId</div>
                                                <div class="col-md-5">
                                                    @Html.DropDownListFor(model=>model.OrderDetailId,Model.ShipmentList, new {@class="form-control",id="OrderId"})
                                                </div>
                                            <div class="col-md-2 btn" id="addid"> <span class=tooltiptext>Add More Orders</span><i style='font-size:14px' class='fas'>&#xf067;</i> </div>
                                            </div>


                                       



                                            <div class=" justify-content-center mt-5 col-md-6 offset-3">  <input type="submit" id="btnsubmit" class="btn btn-danger" value="Register" /></div>








                                        </div>
                                    </div>
                     
                                </div>
                            }
                        </div>
                        <div class="col-xl-2 d-none d-xl-block" style="margin-top:100px;">
                            <table id="idList" class="table">
                                <tr>
                                    <th id="col">Id</th>

                                    <th id="col">Action</th>
                               
                                </tr>
                            </table>
                        </div>

                        <div class="col-xl-5 d-none d-xl-block">
                            <img src="~/css/delivery.jpg"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                    </div>
                </div>
            </div>
</section>


<style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
</style>




    @section Scripts{



        <script>
           var obj;
           var orderDetail=[];
           var Request;

            $(document).ready(function () {

            $('#addid').click(function (e) {
      
                e.preventDefault();
                var id = $('#DeliveryPersonId').val();
                var orderId = $('#OrderId').val();
                if (DeliveryPersonId == null || DeliveryPersonId == 0) {
                    $('#errormsg').html("Delivery Person  is required");
                    return;
                }


                obj = { "OrderDetailId": orderId }

                $('#idList').append('<tr><td>' + orderId + '</td><td><button class="btn btn-danger delete">Delete </button></td></tr>');

                 orderDetail.push(obj);
                
                $(document).on('click', '.delete', function () {
                    let index = $(this).closest('tr').index() - 1;
                    $(this).closest('tr').remove();
                    console.log(index);
                    productDetails.splice(index, 1);
                    console.log(productDetails);
                    if (orderDetail.length == 0) {
                        $('#idList').hide();
                    }
                });

                Request = {
                    "DeliveryPersonId": id,
                    "ShipmentRequest": orderDetail



                };


            });
       

                $('#btnsubmit').click(function (e) {
                   
               


                    $.ajax({


                        url: "/OrderShipmentMvc/Add",
                        type: "POST",
                        dataType: 'json',
                        data: JSON.stringify(Request),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                           
                                alert("Order is Succesfully Shipped");
                                window.location.href= "/OrderShipmentMvc/GetAllShipment";
                          
                    

                        },
                        error: function () {
                            alert("error");
                        }



                    });

                });
            });




        </script>

}


    <style>
        .control-fluid, .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
        }

        .control-section .control-wrapper {
            width: 80%;
            margin: 0 auto;
            min-width: 185px;
        }

        .e-bigger .control-section .control-wrapper {
            width: 100%;
        }

        .property-section .right-side {
            padding-left: 10px;
        }

        .property-section .left-side {
            padding: 5px;
            width: 25%
        }

        .control-styles {
            padding-top: 30px
        }
    </style>
    <link rel="stylesheet" href="~/css/jquerytable.css" asp-append-version="true" />


    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>