@using Food_Delivery_System.Models
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-bottom:30px;" class="row ">
    <div style="margin-left:1%">
        <h2>Hotel Detail</h2>
    </div>

    @if (TempData["AlertMessage"] != null)
    {
        @if (TempData["AlertMessage"].Equals ("The hotel Food Is Available For Users"))
        {
            <div class="alret alert-warning">
                <strong>Warning ! </strong>  @TempData["AlertMessage"]
            </div>
        }
        else
        {
        <div class="alret alert-success">
            <strong>Success !</strong>  @TempData["AlertMessage"]
        </div>
        }

    }

    <div style="margin-left:93%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
        </svg>  @Html.ActionLink("Add", "AddHotel")
    </div>




</div>


<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id="tblHotel" style="text-align:center" class="display" cellspacing="0" width="100%">
            <thead style="background-color:khaki;">
                <tr >
                    <th id="center" scope="col">Hotel Id</th>
                    <th id="center" scope="col">Hotel Name</th>
                    <th id="center" scope="col">Location</th>
                    <th id="center" scope="col">Contact Number</th>
                    <th id="center" scope="col">Email</th>
                    <th id="center" scope="col">Type</th>
                    <th id="center" data-orderable="false" scope="col">Action</th>
                         
                    </tr>
               
                </thead>
               
            </table>
        </div>
   
 </div>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

    @section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            bindDatatable();
        });

        function bindDatatable() {

            datatable = $('#tblHotel')
                .DataTable({
                    "sAjaxSource": "/HotelMvc/GetallDetail",
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": true,
                    "order": [[1, 'asc']],
                    "language": {
                        "emptyTable": "No record found.",
                        "processing":
                            '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:blue;margin-left:50%;margin-top:80%;"></i><span class="sr-only">Loading...</span> '
                    },
                    "columns": [
                        {
                            "data": "hotelId",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "hotelName",
                            "autoWidth": true,
                            "searchable": true,
                            'render': function (data, type, row) {
                                return "<a href=/FoodMvc/GetFoodByHotelId?hotelId=" + row.hotelId + " class='nav-link '> <span class=tooltiptext>View Food Detail</span>  " + row.hotelName + " </a>"
                            }
                        },
                        {
                            "data": "address",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "contactNumber",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "email",
                            "autoWidth": true,
                            "searchable": true
                        },

                        {
                            "data": "type",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {

                            "searchable": false,
                            'render': function (data, type, row) 
                            {
                                return " <a href=/HotelMvc/UpdateHotel?hotelId=" + row.hotelId + " class='btn'> <span class=tooltiptext>Edit</span> <i style='font-size:24px ;color:cornflowerblue' class='fas'>&#xf044;</i> </a>  <a href=/HotelMvc/DeleteHotel?hotelId=" + row.hotelId + " id='del' class='btn '> <span class=tooltiptext>Delete</span> <i style='font-size:24px; color:red' class='fas'>&#xf2ed;</i> </a>"
                            }

                        },
                    ]
                });
        }




      
    </script>
}
    <link rel="stylesheet" href="~/css/jquerytable.css" asp-append-version="true" />
  