@using Food_Delivery.Models



    <div style="margin-bottom:30px;margin-left:88%">
        <a class="btn btn-primary text-white" href="/CustomerMvc/Create">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
        </svg>  Add Customer
        </a>

    </div>
 <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped" id="tblHotel">
                <thead style="background-color:khaki;text-align:center" >
                    <tr>
                    <th scope="col">CustomerId</th>
                        <th scope="col">Name</th>
                    <th scope="col">ContactNumber</th>  
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Address</th>
                        <th scope="col">Action</th>
                    </tr>
               
                </thead>
               
            </table>
        </div>
   
</div>
           




    @section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            bindDatatable();
        });

        function bindDatatable() {
              datatable = $('#tblHotel') 
                .DataTable({
                    "sAjaxSource": "/CustomerMvc/Getall",
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": true,
                    "order": [[1, 'asc']],
                    "language": {
                        "emptyTable": "No record found.",
                        "processing":
                            '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                    },
                    "columns": [
                        {
                            "data": "customerId",
                            "autoWidth": true,
                            "searchable": true
                        },

                        {
                            "data": "name",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "contactNumber",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "email",
                            "autoWidth": true,
                            "searchable": true
                        },
                          {
                            "data": "gender",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "address",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                           
                            "searchable": false,
                            'render': function (data, type, row) {
                                return "<a href=/CustomerMvc/UpdateCustomer?customerId=" + row.customerId + " class='btn btn-primary'> Edit </a> <a href=/CustomerMvc/Delete?customerId=" + row.customerId + " class='btn btn-primary'> Delete </a>"

                            }
                            

                        }, 
                        //{

                        //    "searchable": false,
                        //    'render': function (data, type, row) {
                               
                        //    }

                        //},
                    ]
                });
        }
      
    </script>
}

