@using Food_Delivery.Models
@model List<Food_Delivery.Models.Customer>
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="width:100%">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id="Customer">
            <thead style="background-color:khaki;text-align:center">
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Contact Number </th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">My Orders</th>
                    <th scope="col">Action</th>
                </tr>

            </thead>

        </table>
    </div>

</div>
  
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            bindDatatable();
        });

        function bindDatatable() {
            datatable = $('#Customer')
                .DataTable({
                    "sAjaxSource": "/CustomerMvc/GetAll",
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": true,
                    "order": [[1, 'asc']],
                    "language": {
                        "emptyTable": "No record found.",
                        "processing":
                            '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                    },
                    "columns": [
                        {
                            "data": "name",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "contactNumber",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "email",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "address",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {

                            "searchable": false,
                            'render': function (data, type, row) {
                                return "<a href=/FoodMvc/GetFoodByHotelId?hotelId=" + row.hotelId + " class='btn btn-primary'> Food Details </a>"
                            }

                        },
                        {

                            "searchable": false,
                            'render': function (data, type, row) {
                                return "<a href=/FoodMvc/GetFoodByHotelId?hotelId=" + row.hotelId + " class='btn btn-primary'> Food Details </a>"
                            },
                            "searchable": false,
                            'render': function (data, type, row) {
                                return "<a href=/FoodMvc/GetFoodByHotelId?hotelId=" + row.hotelId + " class='btn btn-primary'> Food Details </a>"
                            }

                        },
                    ]
                });
        }

    </script>
}