a {
    text-decoration: none;
}

#icon2 {
    font-size: 24px;
    color: red
}

#icon3 {
    font-size: 24px;
    color: cornflowerblue;
}

#t {
    text-align: center;
    background-color: khaki;
}

#t1 {
    text-align: center
}
