p {
    margin-left: 30px;
}

#errormsg {
    text-align: center;
    color: red;
    font-size: 20px;
}

#offer {
    color: chocolate;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    border-top: 1px solid #e9e9eb;
}

#container {
    margin-left: 5%;
}

#Quantity {
    width: 50px;
    text-align: center;
}

#addborder {
    background-color: #FFA500;
    margin-bottom: 10px;
}

#add1 {
    margin-left: 15px;
    padding-top: 1%
}

#card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 8px 60px 11px 26px;
    cursor: pointer;
    width: 30%;
    border-radius: 5%
}

    #card:hover {
        transform: scale(1.05);
        box-shadow: 0 5px 00px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

#img {
    width: 280px;
    border-radius: 6%;
    height: 180px;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%
}

#food {
    font-weight: bold
}

#off {
    text-align: center;
}