@*@model List<FoodDto>

@{
    ViewData["Title"] = "GetAllFood";

}
<div class="container-fluid p-5">
    <div class="row row-cols-3 row-cols-sm-3 row-cols-md-3 row-cols-lg-3">

        @foreach (FoodDto item in Model)
        {


            <div class="card p-0">

                <img style=" width: 320px;border-radius:10%; height: 300px;margin-left:5%" src="/css/Image/@item.Iamgepath" multiple />
              
         
                <p>Food Name: @item.FoodName </p>


                <p>Price   ₹ @item.Price  </p>
            </div>

        }

    </div>

</div>

*@