@model Food_Delivery.Models.OrderRequest




<div class="row m-5">
    <div id="errormsg" style="text-align:center;color:red;font-size:20px;"></div>
    <div class="row m-5">
        <div class="col-md-3" style="margin-left:-70px;">Customer Name <span id="mandatory"> * </span> </div>
        <div class="col-md-3"> @Html.DropDownListFor(m=>m.CustomerId,Model.CustomerList, new {@class="form-control",id="customerid"})</div>
        <div class=" col-md-2 offset-2 btn btn-primary">  <a href="/FoodMvc/Explore" style="color:white;">Continue Shopping</a></div>

        <div class=" col-md-2 offset-0 ">  <input type="submit" id="btnsubmit"  style="color:white;" class="btn btn-primary" value="Check Out" ></div>


    </div>

   

    @{
        ViewData["Title"] = "AddProduct";





    }
    <table id="productList" class="table">
        <tr>
            <th id="col">HotelName</th>
            
            <th id="col">Food Name</th>
            <th id="col">Image</th>
            <th id="col">Price</th>
            <th id="col">Quantity</th>
            <th id="col">Total</th>
            <th id="col">Action</th>



        </tr>












    </table>



   


    @section Scripts{

        <script src="~/js/addorderdetail.js"></script>


    }
    <style>
        .foodimg{
            width:150px;
            height:130px;
            border-radius:50%;
        }
        .table{
            text-align:center;
        }

            #col{
                background-color:khaki;
            }
            .word{
                margin-top:50%;
            } 
            a{
                text-decoration:none
            }
    </style>