@using Food_Delivery.Models
@model InvoiceDetail


@{
    ViewData["Title"] = "GetAllFood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







                 
                    <p>@Model.FoodId</p>
                
                  

         

    




