@model Food_Delivery.Models.OrderRequest




<div class="row m-5">
    <div id="errormsg" style="text-align:center;color:red;font-size:20px;"></div>
    <div class="row m-5">
        <div class="col-md-3" style="margin-left:-70px;">Customer Name <span id="mandatory"> * </span> </div>
        <div class="col-md-3"> @Html.DropDownListFor(m=>m.CustomerId,Model.CustomerList, new {@class="form-control",id="customerid"})</div>
        <div class=" col-md-2 offset-4 ">  <input type="submit" id="btnsubmit"  style="color:white;" class="btn btn-primary" value="Check Out" ></div>


    </div>




    @{
        ViewData["Title"] = "AddProduct";





    }
    <table id="productList" class="table">
        <tr>
            <th id="col">HotelName</th>
            
            <th id="col">Food Name</th>
            <th id="col">Image</th>
            <th id="col">Price</th>
            <th id="col">Quantity</th>
            <th id="col">Total</th>
            <th id="col">Action</th>



        </tr>












    </table>



   


    @section Scripts{



        <script>
            var obj;
            var foodDetails = [];
            var data = localStorage.getItem("cart");
            console.log("data", data);

            $.each(JSON.parse(data), function (key, value) {
                $('#productList').append('<tr><td class="word">' + value.hotelname + '</td><td>' + value.foodname + '</td><td>' + ' <img class="foodimg" src="/css/Image/' + value.imageid + '" />' + '</td><td>' + value.price + '</td><td>' + value.quantity + '</td><td>' + value.quantity*value.price + '</td><td><button class="btn btn-danger delete ">Delete </button></td></tr>');









                obj = { "FoodId": value.hotelId, "HotelId": value.foodId, "Quantity": value.quantity }








                foodDetails.push(obj);










            });




            $(document).on('click', '.delete', function () {
                let index = $(this).closest('tr').index() - 1;
                $(this).closest('tr').remove();
                console.log(index);
                foodDetails.splice(index, 1);
                //console.log(productDetails);
                //if (productDetails.length == 0) {
                //    $('#productList').hide();
                //}
            });



            $(document).ready(function () {
                $('#btnsubmit').click(function (e) {
                    e.preventDefault();
                    var id = $('#customerid').val();

                    if (id == null || id == 0) {
                        $('#errormsg').html("Customer is required");
                        return;
                    }

                    var Request = {
                        "CustomerId": id,
                        "Food": foodDetails



                    };





                    $.ajax({



                        url: "/OrderDetailMvc/AddOrder",
                        type: "POST",
                        dataType: 'json',
                        data: JSON.stringify(Request),
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {




                            if (response.success == true) {
                                localStorage.clear();
                                setTimeout(function () { window.location = '/OrderDetailMvc/Add'; }, 1000);
                            }
                            else {
                                setTimeout(function () { window.location = '/OrderDetailMvc/Add'; }, 1000);
                            }




                        },
                        error: function () {
                            alert("error");
                        }



                    });

                });
            });




        </script>



    }
    <style>
        .foodimg{
            width:150px;
            height:130px;
            border-radius:50%;
        }
        .table{
            text-align:center;
        }

            #col{
                background-color:khaki;
            }
            .word{
                margin-top:50%;
            }
    </style>