@model Food_Delivery_System.Models.FoodList



@{
    ViewData["Title"] = "AddProduct";
 



}
<table id="productList" class="table">
    <tr>
        <th>FoodId</th>
        <th>HotelId</th>
        <th>Quantity</th>
        <th>Price</th>
       


    </tr>

    


   

</table>
       

<div>

 <a href="/Home/Edit?Emp_Id=" class="btn btn-primary">
                             Edit
                        </a>

</div>


@section Scripts{

    <script>
        var data = localStorage.getItem("cart");
        console.log("data", data);

        $.each(JSON.parse(data), function (key, value) {
            $('#productList').append('<tr><td>' + value.hotelId + '</td><td>' + value.foodId + '</td><td>' + value.price + '</td><td>'+ value.quantity +'</td></tr>');

        });
    </script>

}