a {
    text-decoration: none;
}

#tablehead {
    text-align: center;
    background-color: khaki;
}

#row {
    text-align: center;
    backround-color: khaki;
}
#t {
    text-align: center;
}
h2 {
    height: 60px;
}

#but {
    margin-left: 93%;
}
